<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
      <style>

         form {text-align:center;}
    </style>
</head>
<body style=" background-color:gray;">
<h1 style="text-align:center;">Registration</h1>
<form action="register" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your Name"><br>
    <input type="text" name="first_name" placeholder="Enter your first Name"><br>
    <input type="text" name="last_name" placeholder="Enter your last Name"><br>
    <input type="email" name="email" placeholder="Enter your Email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>


